// colors

$main: rgb(80, 110, 87);
$border: rgb(128, 176, 139);
$dark: rgb(34, 34, 34);
$text: rgb(197, 197, 197);



.App {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: $main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  width: 1350px;
  height: auto;
  min-height: 100vh;
  
  background: url('./images/background2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $dark;
  overflow: hidden;
  margin: 20px;
  border-radius: 32px;
}

.section {
  width: 200px;
}




@media (max-width: 900px) {
  .main {
    width: 750px;
  }
}

